[submodule ".registry"]
	path = .registry
	url = https://github.com/aforestsomewhere/aforestsomewhere.r-universe.dev
	branch = HEAD
[submodule "warwickplots"]
	path = warwickplots
	url = https://github.com/Warwick-Stats-Resources/warwickplots
